.*
*.class
*.apk
*.o
*.o.*
*.jar
*.dex
*.so
*.launch
gen/com/larswerkman/holocolorpicker/BuildConfig.java
gen/com/larswerkman/holocolorpicker/R.java
bin/AndroidManifest.xml
bin/R.txt
bin/jarlist.cache
bin/resources.ap_
gen/com/larswerkman/holocolorpicker/R.java
gen/org/doubango/imsdroid/R.java
gen/org/doubango/ngn/R.java
.classpath
.project
bin/res/crunch/drawable-hdpi-finger/quickcontact_arrow_down.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_arrow_up.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_bottom_frame.9.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_disambig_bottom_bg.9.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_disambig_divider.9.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_drop_shadow.9.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_photo_frame.9.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_slider_background.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_slider_btn_normal.9.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_slider_btn_on.9.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_slider_btn_pressed.9.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_slider_btn_selected.9.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_slider_grip_left.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_slider_grip_right.png
bin/res/crunch/drawable-hdpi-finger/quickcontact_top_frame.9.png
bin/res/crunch/drawable-hdpi-finger/sym_action_add.png
bin/res/crunch/drawable-hdpi-finger/sym_action_map.png
bin/res/crunch/drawable-hdpi/expand.png
bin/res/crunch/drawable-hdpi/icon.png
bin/res/crunch/drawable-ldpi/icon.png
bin/res/crunch/drawable-ldpi/input_numbers.png
bin/res/crunch/drawable-ldpi/input_text.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_arrow_down.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_arrow_up.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_bottom_frame.9.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_disambig_bottom_bg.9.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_disambig_divider.9.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_drop_shadow.9.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_photo_frame.9.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_slider_background.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_slider_btn_normal.9.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_slider_btn_on.9.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_slider_btn_pressed.9.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_slider_btn_selected.9.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_slider_grip_left.png
bin/res/crunch/drawable-mdpi-finger/quickcontact_slider_grip_right.png
bin/res/crunch/drawable-mdpi/baloon_in_bottom_center.png
bin/res/crunch/drawable-mdpi/baloon_in_bottom_left.png
bin/res/crunch/drawable-mdpi/baloon_in_bottom_right.png
bin/res/crunch/drawable-mdpi/baloon_in_middle_center.png
bin/res/crunch/drawable-mdpi/baloon_in_middle_left.png
bin/res/crunch/drawable-mdpi/baloon_in_middle_right.png
bin/res/crunch/drawable-mdpi/baloon_in_top_center.png
bin/res/crunch/drawable-mdpi/baloon_in_top_left.png
bin/res/crunch/drawable-mdpi/baloon_in_top_right.png
bin/res/crunch/drawable-mdpi/baloon_out_bottom_center.png
bin/res/crunch/drawable-mdpi/baloon_out_bottom_left.png
bin/res/crunch/drawable-mdpi/baloon_out_bottom_right.png
bin/res/crunch/drawable-mdpi/baloon_out_middle_center.png
bin/res/crunch/drawable-mdpi/baloon_out_middle_left.png
bin/res/crunch/drawable-mdpi/baloon_out_middle_right.png
bin/res/crunch/drawable-mdpi/baloon_out_top_center.png
bin/res/crunch/drawable-mdpi/baloon_out_top_left.png
bin/res/crunch/drawable-mdpi/baloon_out_top_right.png
bin/res/crunch/drawable-mdpi/expand.png
bin/res/crunch/drawable-mdpi/icon.png
bin/res/crunch/drawable-mdpi/input_numbers.png
bin/res/crunch/drawable-mdpi/input_text.png
bin/res/crunch/drawable-mdpi/xyzbackground.png
bin/res/crunch/drawable-mdpi/xyzbowhead.png
bin/res/crunch/drawable-mdpi/xyzframe.png
bin/res/crunch/drawable-mdpi/xyzhigh.png
bin/res/crunch/drawable-mdpi/xyzlogin.png
bin/res/crunch/drawable-mdpi/xyzlong.png
bin/res/crunch/drawable-mdpi/xyzlow.png
bin/res/crunch/drawable-mdpi/xyznormal.png
bin/res/crunch/drawable-mdpi/xyzrisehead.png
bin/res/crunch/drawable-mdpi/xyzrobot.png
bin/res/crunch/drawable-mdpi/xyzshort.png
bin/res/crunch/drawable/about_48.png
bin/res/crunch/drawable/accout.png
bin/res/crunch/drawable/android_avatar_big.png
bin/res/crunch/drawable/avatar_24.png
bin/res/crunch/drawable/avatar_48.png
bin/res/crunch/drawable/back.png
bin/res/crunch/drawable/backleft.png
bin/res/crunch/drawable/backrig.png
bin/res/crunch/drawable/bullet_ball_glass_green_16.png
bin/res/crunch/drawable/bullet_ball_glass_grey_16.png
bin/res/crunch/drawable/bullet_ball_glass_red_16.png
bin/res/crunch/drawable/call_incoming_45.png
bin/res/crunch/drawable/call_missed_45.png
bin/res/crunch/drawable/call_outgoing_45.png
bin/res/crunch/drawable/chat_25.png
bin/res/crunch/drawable/chat_48.png
bin/res/crunch/drawable/check_off_38.png
bin/res/crunch/drawable/check_on_38.png
bin/res/crunch/drawable/codecs_48.png
bin/res/crunch/drawable/delete_48.png
bin/res/crunch/drawable/dialer_48.png
bin/res/crunch/drawable/document_down_128.png
bin/res/crunch/drawable/document_down_48.png
bin/res/crunch/drawable/document_up_128.png
bin/res/crunch/drawable/document_up_48.png
bin/res/crunch/drawable/eab2_48.png
bin/res/crunch/drawable/eab_48.png
bin/res/crunch/drawable/exit_48.png
bin/res/crunch/drawable/folder_24.png
bin/res/crunch/drawable/folder_movie_24.png
bin/res/crunch/drawable/fordleft.png
bin/res/crunch/drawable/forrig.png
bin/res/crunch/drawable/forward.png
bin/res/crunch/drawable/general_48.png
bin/res/crunch/drawable/history_48.png
bin/res/crunch/drawable/ic_dialog_dialer_48.png
bin/res/crunch/drawable/ic_input_delete_48.png
bin/res/crunch/drawable/ic_launcher.png
bin/res/crunch/drawable/ic_menu_call_48.png
bin/res/crunch/drawable/icon.png
bin/res/crunch/drawable/identity_48.png
bin/res/crunch/drawable/im_invisible_user_48.png
bin/res/crunch/drawable/image_gallery_25.png
bin/res/crunch/drawable/image_gallery_48.png
bin/res/crunch/drawable/joystick.png
bin/res/crunch/drawable/joystickbg.png
bin/res/crunch/drawable/left.png
bin/res/crunch/drawable/lock_48.png
bin/res/crunch/drawable/messaging_48.png
bin/res/crunch/drawable/natt_48.png
bin/res/crunch/drawable/network_48.png
bin/res/crunch/drawable/options_48.png
bin/res/crunch/drawable/phone_call_25.png
bin/res/crunch/drawable/phone_hang_up_48.png
bin/res/crunch/drawable/phone_hang_up_64.png
bin/res/crunch/drawable/phone_hold_48.png
bin/res/crunch/drawable/phone_pick_up_48.png
bin/res/crunch/drawable/phone_pick_up_64.png
bin/res/crunch/drawable/phone_resume_48.png
bin/res/crunch/drawable/phone_speaker_48.png
bin/res/crunch/drawable/qos_qoe_48.png
bin/res/crunch/drawable/refresh_48.png
bin/res/crunch/drawable/right.png
bin/res/crunch/drawable/robot_bowhead.png
bin/res/crunch/drawable/robot_headup.png
bin/res/crunch/drawable/robot_normal.png
bin/res/crunch/drawable/screenmenu.png
bin/res/crunch/drawable/screenmenubg.png
bin/res/crunch/drawable/secure_16.png
bin/res/crunch/drawable/seekbar_thumb.png
bin/res/crunch/drawable/seekbarbg.9.png
bin/res/crunch/drawable/seekbarpg.9.png
bin/res/crunch/drawable/sharp_76.png
bin/res/crunch/drawable/shr.png
bin/res/crunch/drawable/sign_in_48.png
bin/res/crunch/drawable/sign_inprogress_48.png
bin/res/crunch/drawable/sign_out_48.png
bin/res/crunch/drawable/signin.png
bin/res/crunch/drawable/sms_25.png
bin/res/crunch/drawable/source.png
bin/res/crunch/drawable/start_76.png
bin/res/crunch/drawable/stop.png
bin/res/crunch/drawable/sym_action_chat_48.png
bin/res/crunch/drawable/target.png
bin/res/crunch/drawable/user_back_24.png
bin/res/crunch/drawable/user_busy_24.png
bin/res/crunch/drawable/user_hyper_avail_24.png
bin/res/crunch/drawable/user_offline_24.png
bin/res/crunch/drawable/user_online_24.png
bin/res/crunch/drawable/user_onthephone_24.png
bin/res/crunch/drawable/user_time_24.png
bin/res/crunch/drawable/video_start_48.png
bin/res/crunch/drawable/video_stop_48.png
bin/res/crunch/drawable/visio_call_25.png
bin/res/crunch/drawable/visio_call_48.png
bin/res/crunch/drawable/voice_call_25.png
bin/res/crunch/drawable/voice_call_48.png
bin/res/crunch/drawable/webcam_24.png
gen/com/larswerkman/holocolorpicker/R.java
gen/org/doubango/imsdroid/R.java
gen/org/doubango/ngn/R.java
libs/armeabi/libhello-uart.so
!.gitignore
!*/
