[project]
	description = sip and xmpp apk
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/william30101
[access "refs/for/refs/*"]
	read = group user/william30101
	push = group user/william30101
	label-Code-Review = -2..+2 group user/william30101
	label-Verified = -1..+1 group user/william30101
	rebase = group user/william30101
	removeReviewer = group user/william30101
	submit = group user/william30101
[access "refs/heads/*"]
	read = group user/william30101
	create = group user/william30101
	push = +force group user/william30101
	pushMerge = group user/william30101
[access "refs/tags/*"]
	push = +force group user/william30101
	pushTag = group user/william30101
	pushSignedTag = group user/william30101
